body {
   max-width: 2335px;

   font-size: 20px;
   line-height: 1.17;
   margin: 0 auto;
   padding: 0;
   display: flex;
   box-sizing: border-box;
}
:root {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 1.17;
    font-style: normal;
    font-weight: 400;
}

.glider {
    padding: 83px 102px;
    flex: 2 1 1535px;
    
    position: relative;
    overflow: hidden;
    
}

.calendar {
    flex: 1 1 800px;
    
    padding: 83px 100px;
    background: rgba(42, 46, 65, 0.7);
    box-sizing: border-box;
}

.glider__footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 90px;
    border-bottom: 2px solid #f3f3f3;
    margin-bottom: 102px;
}

.glider__footer-container h2 {
    font-size: 1.8rem;
    line-height: 1.16;
    color: #243D6F;
}

.glider__search {
    text-decoration: none;
    flex: 0 0 39px;
    aspect-ratio: 39/39;
    margin-right: 52px;  
}

.gliader__menu {
    flex: 0 0 39px;
    aspect-ratio: 39/39;
}

.glider__search:hover img,
.gliader__menu:hover img {
    transform: scale(1.1);
    transition: all 0.5s linear;
}

.glider__content {
    position: relative;
}

.glider__content-time-list {
    list-style: none;
    padding: 0;
}

.glider__content-time-list li {
    margin-bottom: 91px;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.15;
    color: #A4B0C3;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.glider__content-time-item {
    margin-right: 68px;
}


.glider__content-time-list .glider__content-time-line {
    width: 100%;
    height: 2px;
    
    background-color: #f3f3f3;
    position: relative;
    top: 12px;    
}

.glider__reminder {
    font-size: 1.4rem;
    font-weight: 500;
    color: #243d6f;
    margin-left: 135px;
    position: relative;
}

.glider__reminder-content {
    padding-left: 69px;
    margin: 0;
    top:50%;
    transform:translateY(-50%);
    position: absolute;
}

.glider__reminder-container-one {
    position: absolute;
    top: 10px;
    width: 100%;
}

.glider__reminder-one {
    height: 124px;
    border-left: 6px solid #8576ed;
}

.glider__reminder-background-one {
    width: 100%;
    height: 124px;
    background-color: #8576ed;
    opacity: .15;
    position: absolute;
    top: 0;
    left: 0;
}

.glider__reminder-container-two {
    position: absolute;
    top: 254px;
    width: 100%;
}

.glider__reminder-two {
    height: 309px;
    border-left: 6px solid #3D83F9;
}

.glider__reminder-background-two {
    width: 100%;
    height: 309px;
    background-color: #3D83F9;
    opacity: .15;
    position: absolute;
    top: 0;
    left: 0;
}

.glider__reminder-container-three {
    position: absolute;
    top: 738px;
    width: 100%;
}

.glider__reminder-three {
    height: 245px;
    border-left: 6px solid #EEA57C;
}

.glider__reminder-background-three {
    width: 100%;
    height: 245px;
    background-color: #EEA57C;
    opacity: .15;
    position: absolute;
    top: 0;
    left: 0;
}

.calendar__header-title {
    font-size: 1.8rem;
    line-height: 1.16;
    color: #FFFFFF;
}    

.calendar__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 154px;
}

.calendar__header-title {
    order: 2;
    margin: 0;
}

a.calendar__header-switch-left {
    order: 1;
}

.calendar__header-switch-right {
    order: 3;
}

.calendar__header .calendar__header-switch-left:hover img,
.calendar__header .calendar__header-switch-right:hover img {
    transform:scale(1.2);
    transition: all 0.5s linear;
}

.calendar__content {
    width: 100%;
    margin-bottom: 233px;
}

.calendar__content-table {
    position: relative;
}

.calendar__content-table::before {
    content: "";

    width: 100%;
    height: 2px;
    
    background-color: #000000;
    opacity: .17;
    position: absolute;
    top: -20px;
}

.calendar__content-table::after {
    content: "";

    width: 100%;
    height: 2px;
    
    background-color: #000000;
    opacity: .17;
    position: absolute;
    bottom: -76px;
}

.calendar__content-table th {
    font-size: 1.25rem;
    padding: 48px;
    color: #ffffff;
}

.calendar__content-table tbody th {
    cursor: pointer;
}

.calendar__content-table tbody th:hover {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #3C82F9;
    transition: background-color 0.5s linear;
}

.calendar__content-table tbody th[aria-disabled="true"] {
    opacity: .5;
}

th[aria-disabled="true"]:hover {
    cursor:auto;
}

.calendar__contentr {
    margin-bottom: 233px;
}

.calendar__footer-content {
    font-size: 1.3rem;
    color: #FFFFFF;
}

.button {
    padding-top: 27px;
    padding-bottom: 27px;
    width: 45%;
    border-radius: 10px;
    border: none;
    margin-bottom: 30px;
    margin-right: 28px;
    cursor: pointer;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 1.3rem;
}

.button-categories-one {
    background-color: #8576ED;
}

.button-categories-two {
    background-color: #F39946;
}

.button-categories-three {
    background-color: #FF467E;
}

.calendar__footer-button-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.calendar__footer-button-container button:nth-child(2) {
    margin-right: 0;
}

.button:hover {
    transform: scale(1.05);
    transition: all 0.5s linear;
}